/*common*/
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px;
    width: calc(100%-30px);
}

/*header*/
header {
    background-color: #000;
    height: 120px;
}
header .container {
    padding: 36px 40px;
}
header h1 {
    color: #fff;
    font-size: 2.5rem;
}

/*main - menu*/
.menu_list {
    display: flex;
    gap: 14px;
    margin-bottom: 40px;
}
.menu_list li {
    border: 1px solid #d1d1d1;
    text-align: center;
    flex-grow: 1;
    height: 33px;
}
.menu_list li:hover {
    border: 1px solid #454545;
    font-weight: bold;
}
.menu_list li a {
    color: #000;
    display: block;
    height: 100%;
    padding: 5px 0;
}

/*main - Elements*/
h2 {
    font-size: 1.25rem;
    color: #000;
    padding: 20px 0;
    border-bottom: 1px solid #454545;
}
.element_wrap {
    border: 1px solid #d1d1d1;
    margin: 30px 0;
}
.element_wrap .element_tit {
    padding: 15px;
    border-bottom: 1px solid #d1d1d1;
    background-color: #f7f7f7;

}
h3 {
    color: #333;
    font-weight: bold;
    font-size: 1rem;
}
.element_wrap .element_contents {
    padding: 30px;
    font-size: 0.75rem;
}

/*table*/

h4 {
    font-size: 0.875rem;
    color: #000;
    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: #555;
}
.table_header {
    background-color: #fbfbfb;
}
.table_element01 table,.table_element01 th,.table_element01 td{
    border: 1px solid #e4e4e4;
}
.table_element01 th,.table_element01 td {
    padding: 10px 0;
    width: 9%;
}
.table_element01 .col_width {
    width: 18%;
}
.table_element02{
    margin-top: 40px;
}
.table_element02 th, .table_element02 td{
    padding: 10px 5%;
    font-weight: normal;
}
.table_element02 .table_header {
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}
.table_element02 .table_footer {
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
}
.table_element02 .table_footer th, .table_element02 .table_footer td {
    font-weight: bold;
}
.table_element02 .first_row{
    width: 38%;
}
.table_element02 td {
    text-align: right;
}

/*form*/
.sec2 form {
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
    padding: 20px;
}
h5 {
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.sec2 input,.sec2 select,.sec2 textarea {
    border: 1px solid #e4e4e4;
    padding: 0 10px;
    margin: 10px 0;
    height: 40px;
}
.select_box {
    display: flex;
    justify-content: space-between;

}
.sec2 select {
    width: 32%;
}
.sec2 button {
    background-color: #4ec53d;
    border: 1px solid #08a600;
    font-size: 1rem;
    color: #fff;
    width: 100%;
    height: 40px;
}
.first_input {
    margin: 0;
}
.sec2 input,.sec2 textarea {
    width: 100%;
}
.call_box {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.call_box input {
    width: 75%;
    margin: 0;
}
.call_box button {
    width: 24%;
    font-size: 0.75rem;
}
.radiocheck_box input{
    width: 14px;
    height: 10px;
    margin-right: 5px;
}
.radiocheck_box label {
    margin-right: 7%;
}
.sec2 textarea {
    height: 150px;
}

/*list_element*/
.sec3 h4 {
    margin-top: 40px;
}
.sec3 h4:nth-child(1) {
    margin-top: 0;
}
.sec3 article {
    border: 1px solid #e4e4e4;
    padding: 20px;
}
.sec3 .dictionary {
    padding: 40px 20px;
}
.dictionary p {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: -1.5px;
}
.dictionary dl {
    margin: 20px 0;
    letter-spacing: -0.8px;
}
.dictionary dt {
    font-weight: bold;
    margin: 8px 0;
    font-size: 0.875rem;
}
.dictionary dt span {
    font-size: 0.75rem;
    font-weight: normal;
    color: #559bfa;
    display: inline-block;
    margin: 0 5px;
}
.dictionary dd {
    line-height: 1.7;
}
.searching_list ol li {
    margin-top: 5px;
    line-height: 1.7;
    font-size: 0.75rem;
}
.searching_list ol li:nth-child(1) {
    margin-top: 0;
}
.searching_list ol li span {
    display: inline-block;
    border: 1px solid #e0e0e0;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 13px;
    font-size: 0.625rem;
    margin-right: 6px;
}
.searching_list ol li a:hover {
    text-decoration: underline;
}

.cookie ul {
    list-style-type: disc;
    padding-left: 20px;
}
.cookie li {
    margin-top: 8px;
    line-height: 1.7;
}
.cookie li:nth-child(1) {
    margin-top: 0;
    font-weight: bold;
}
.blue {
    color: #559bfa;
}
.red {
    color: #ec5336;
}
.cookie li a {
    color: #559bfa;
    text-decoration: underline;
}
.sec3 .news {
    padding: 0 20px;
}
.news .border {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.news div {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.news img {
    margin-right: 10px;
}
.news ul li {
    line-height: 1.5;
    letter-spacing: -0.6px;
}
.news ul li:nth-child(1) a {
    font-size: 0.875rem;
    color: #00c;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}

.webtoon ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.webtoon h5 {
    margin: 5px 0;
}
.webtoon a:hover h5 {
    text-decoration: underline;
}
.webtoon h5 span {
    font-size: 0.625rem;
    color: #fff;
    display: inline-block;
    box-sizing: content-box;
    padding: 1px 2px;
    margin-right: 3px;
}
.cut_toon {
    border: 1px solid #71b036;
    background-color: #80c83d;
}
.smart_toon {
    border: 1px solid #df4e28;
    background-color: #ec5336;
}


/*footer*/
footer {
    border-top: 1px solid #d1d1d1;
    text-align: center;
    font-size: 0.75rem;
}
footer address {
    color: #999;
    font-style: normal;
}
footer p {
    margin-top: 10px;
}
